<div class="section_heading">
<h1 class= "section-heading" style="color:brown;font-size:300%;font-family:'Contrail One',cursive;">Shipment</h1>
</div>
<%= render 'form', job: @job %>

<%= link_to 'Back', jobs_path %>
