<h1>Dashboard</h1>

<div  class="dash_account">
 <p> <%= current_company.email %></p>

	


</div>

<div class="dash_boats">
	<p>Boats in Fleet</p>
	<ul>
	<% @boats.each do |boat| %>

		<li><%= boat.name %></li>
		<% end %>
	</ul>



</div>

<div class="dash_jobs">
<p>Jobs</p>

	<% @jobs.each do |jobs| %>
	<ul>
		<li><%= jobs.id %></li>
		<li><%= jobs.status %></li>
		<% end %>
	</ul>


</div>

