<h1 class= "section-heading" style="color:brown;font-size:300%;font-family:'Contrail One',cursive;">New Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Back', customers_path %>
