/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate

 */

@import "bootstrap-sprockets";
@import "bootstrap";

html{
background-color: lightgray;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border: 1px solid #e7e7e7
;
   background-color: #f3f3f3
;
}

li {
   float: left;
}

li a {
   display: block;
   color: #666;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover:not(.active) {
   background-color: #ddd;
}

li a.active {
   color: white;
   background-color: #4CAF50;
}

.boats_form {
  font-size: 100px;
  background-color: grey;
  text-align: center;
}

.section_heading {
  font-size: 30px;
  background-color: lightblue;
  border-style: solid;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

* {
  font-family:'Contrail One',cursive;

}


.form-group{
display: inline;
padding-right: 600px;
}


//boat page table styles

#boat_style {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#boat_style td, #boat_style th {
    border: 1px solid blue;
    padding: 8px;
}

#boat_style tr:nth-child(even){background-color: #f2f2f2;}

#boat_style tr:hover {background-color: #ddd;}

#boat_style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: brown;
    color: white;
}
